<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Barra de progreso</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                        [style.width]="porcentaje1 + '%'" [attr.aria-valuenow]="porcentaje1" aria-valuemin="0"
                        aria-valuemax="100"></div>

                </div>
                <div class="progress mt-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                        [style.width]="porcentaje2 + '%'" [attr.aria-valuenow]="porcentaje2" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="porcentaje1 = $event" leyenda="Progess Azul" [porcentaje]="porcentaje1"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="porcentaje2 = $event" leyenda="Progess Verde" [porcentaje]="porcentaje2"></app-incrementador>
            </div>
        </div>
    </div>
</div>