<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Médico</h3>
            <p class="text-muted m-b-30 font-13">{{ medico.nombre }}</p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="medico.nombre" name="nombre" required type="text" class="form-control"
                                placeholder="Nombre del médico">
                        </div>
                        <div class="form-group">
                            <label>Hospital <i class="fa fa-hospital-o" aria-hidden="true"></i></label>
                            <select (change)="cambioHospital( $event.target.value )" [(ngModel)]="medico.hospital" name="hospital"
                                class="select2 form-control custom-select select2-hidden-accessible" style="width: 100%; height:36px;"
                                tabindex="-1" aria-hidden="true" required>
                                <option value="">Seleccione un hospital</option>
                                <option value="{{hosp._id}}" *ngFor="let hosp of hospitales">{{ hosp.nombre }}</option>
                            </select>

                            <div class="col-sm-6">
                                <div class="card card-body">
                                    <img [src]="hospital.img | imagen: 'hospitales'" [alt]="hospital.nombre" class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                        <a [routerLink]="['/medicos']" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" *ngIf="medico._id">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Imagen</h3>
            <img (click)="cambiarImagen()" [src]="medico.img | imagen: 'medicos'" class="rounded img-fluid pointer">
        </div>
    </div>
</div>