<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Médico</h3>
            <p class="text-muted m-b-30 font-13"> Nombre </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate (ngSubmit)="guardarMedico()">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre del médico">
                        </div>
                        <div class="form-group">
                            <label>Hospital</label>
                            <select class="select2 form-control custom-select select2-hidden-accessible" style="width: 100%; height:36px;"
                                tabindex="-1" aria-hidden="true">


                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>

                            </select>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                        <button [routerLink]="['/medicos']" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Imagen</h3>
            <img src="" alt="">
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Hospital</h3>
            <img src="" alt="">
        </div>
    </div>
</div>