<div class="row animated fadeIn">
    <div class="col-lg-7">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">Datos del usuario</h6>

                <form class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save    "></i>
                        Guardar
                    </button>

                </form>
            </div>
        </div>

    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Imágen de usuario</h4>
                <h6 class="card-subtitle">Datos del usuario</h6>

                <img src="" alt="">

                <div class="form-group">
                    <label for="imagen">Imagen a cargar</label>
                    <input type="file" class="form-control-file" name="imagen" id="imagen" placeholder="Imagen"
                        aria-describedby="fileHelpId">
                    <small id="fileHelpId" class="form-text text-muted">Help text</small>
                </div>


                <button type="button" class="btn btn-block btn-success  mt-3">
                    <i class="fa fa-save    "></i> Actualiza foto</button>
            </div>

        </div>
    </div>
</div>